<h2>List of people:</h2>

<p>Adults:</p>
<table-widget people="$ctrl.adults" person-info="$ctrl.personInfo"></table-widget>

<p>Children:</p>
<table-widget people="$ctrl.children" person-info="$ctrl.personInfo"></table-widget>

<button type="button"
		ng-if="!$ctrl.readyToAdd"
		ng-click="$ctrl.readyToAdd = !$ctrl.readyToAdd"
		class="btn btn-default">Register person &emsp; 
			<span class="glyphicon glyphicon-plus"></span>
</button>

<registration-form user="$ctrl.user" 
				   adults="$ctrl.adults" 
				   children="$ctrl.children" 
				   on-close="$ctrl.readyToAdd = !$ctrl.readyToAdd"
				   ng-if="$ctrl.readyToAdd"></registration-form>

<hr>
<person-details ng-show="$ctrl.personInfo" person-info="$ctrl.personInfo" on-close="$ctrl.personInfo = null"></person-details>
